<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://images.sftcdn.net/images/t_app-logo-l,f_auto,dpr_auto/p/b3d0f528-46dc-11e8-9b17-02420a000b15/4162655357/erimo-icon-pack-logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Головна</a>
        </li>
        <li>
          <a href="/estates">Каталог</a>
        </li>
        <li>
          <a href="/create">Створити</a>
        </li>
      </ul>
    </div>
  </div>
</nav>