<section class="py-5">
  <div class="container">
    <h1>Нерухо́мість</h1>
    <p>Нерухо́мість, нерухоме майно (англ. Real Property, Real Estate) — земельні ділянки, а також будівлі, споруди чи інше
      майно, безпосередньо пов'язане землею, тобто об'єкти, переміщення яких неможливе без нанесення значної шкоди його вартості
      і призначенню.</p>
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1900/1080');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <p>До нерухомості за походженням відносяться земельні ділянки, ділянки надр і все, що міцно пов'язане із землею, тобто об'єкти,
      переміщення яких без невідповідного збитку їхньому призначенню неможливе, зокрема ліси, багаторічні насадження, будівлі,
      споруди, об'єкти незавершеного будівництва. Окрім нерухомості за походженням, в Україні існує «нерухомість згідно із
      законом». До неї відносять ті, що підлягають державній реєстрації повітряні і морські судна, судна внутрішнього плавання,
      космічні об'єкти. У англо-саксонській правовій системі, нерухомість ділиться на «real-estate» — нерухомість як об'єкти
      матеріального світу (будівлі, споруди, земельні ділянки і т. д.); і на «real-property» — майнові права на об'єкти нерухомості.
      Об'єктом нерухомості може вважатися товар, який нерозривно пов'язаний із земельною ділянкою, на якій він розташовується.
      Будь-яке його переміщення обов'язково спричинить за собою руйнування і втрату ринкової вартості. Класифікація об'єктів
      нерухомості за методом «дерева ознак», яку ми приведемо нижче, зручна для проведення оцінки нерухомості з урахуванням
      головних особливостей, властивих кожній групі, наприклад, нюансів товарообігу, масштабів і структури ринків, у рамках
      яких проводяться операції з купівлі-продажу об'єктів і тощо Відповідно до такої класифікації об'єкти нерухомості можуть
      підрозділятися.
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1900/1080/?random');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>
<section class="py-5">
  <div class="container">
    <h1>Оцінка</h1>
    <p>На етапі узгодження завдання на оцінку нерухомості й укладання договору Ви можете замовити оцінювачеві визначення одного
      або декількох видів вартості об'єкта: ринкової вартості — найвірогіднішої вартості об'єкта при його продажі на відкритому
      ринку; ліквідаційної вартості — вартості об'єкта у випадку, якщо об'єкт повинен бути відчужений у строк менше звичайного
      строку експозиції аналогічних об'єктів; інвестиційної вартості — вартості, обумовленої виходячи із прибутковості об'єкта;
      при заданих інвестиційних цілях. При здачі об'єкта в оренду оцінювач визначить обґрунтовану вартість орендної плати
      й допоможе скласти найефективніший бізнес-план комерційного використання об'єкта. Визначення різних видів вартості
      дасть Вам об'єктивну інформацію про реальну ціну об'єкта що, безсумнівно, буде корисно при прийнятті рішень, пов'язаних
      з комерційним використанням оцінюваного об'єкта й керуванням його ринковою вартістю. Сьогодні можна визначити різні
      види вартості. Але в ринкових умовах господарювання найпоширенішим видом вартості є ринкова вартість. Оцінювач визначає
      один або ж декілька видів вартості об'єкта нерухомості: ринкова вартість — найвірогідніша вартість при продажу об'єкта
      на відкритому ринку; відновна вартість — сумарні витрати в поточних ринкових цінах на створення об'єкта, ідентичного
      оцінюваному; ліквідаційна вартість — вартість об'єкта у тому випадку, коли об'єкт оцінки передбачається продати в строк
      менше звичайного терміну експозиції для аналогічних об'єктів; інвестиційна вартість — вартість, яка визначається виходячи
      з потенційної прибутковості об'єкта за наявності додаткових умов продажу, інвестування.</div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1900/1080');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>