<section class="py-5">
  <div class="container">
    <h1>We are.</h1>
    <p class="lead">"It's Free Real Estate"</p>
    <p>"It's Free Real Estate" is a line from a Tim & Eric Awesome Show, Great Job! sketch. It has grown into a popular GIF
      and a popular Bait and Switch -style video punchline on Youtube.</p>
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1900/1080/?random');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Origin</h1>
    <p>The sketch "Free House For You, Jim" appeared in the March 24th, 2009 episode of Tim & Eric, "Presidents." The sketch
      format parodies a commercial by having the title actors claim they have a free house for one person, Jim Boonie. The
      ad, shown below, ends with Tim Heidecker whispering "It's free real estate," to the camera.</div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('https://picsum.photos/1900/1080');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>
<section class="py-5">
  <div class="container">
    <h1>Macros</h1>
    <p>Several months later, on April 15th, Tumblr [10] user literal-ghost posted the image in a thread about "The most disturbing
      image of the Christ Child that I’ve ever come across." The post (shown below) received more than 98,000 notes in one
      year ds with Tim Heidecker whispering "It's free real estate," to the camera.</div>
</section>