<!-- Page Content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="container">

  <input id="search" type="text" class="form-control" placeholder="Search..">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" *ngFor="let estate of estates">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/estates/{{estate.id}}">
                  #{{estate.id}}
                </a>
              </li>
              <li class="list-group-item">
                <a href="/estates/{{estate.id}}">
                  <img class="card-img-top" src="https://picsum.photos/230/300/?random" alt="">
                </a>
              </li>
              <li class="list-group-item">Назва: {{estate.name}}</li>
              <li class="list-group-item">Місто: {{estate.city}}</li>
              <li class="list-group-item">Вулиця: {{estate.street}}</li>
              <li class="list-group-item">Будинок: {{estate.house}}</li>
              <li class="list-group-item">Квартира: {{estate.flat}}</li>
              <li class="list-group-item">Кімнат: {{estate.rooms}}</li>
              <li class="list-group-item">Площа: {{estate.areaall}}</li>
            </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<script>

</script>
<!-- /.container -->