<div class="container">
  <div class="row">
    <form>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" name="emailInput" id="exampleInputEmail" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="passwordInput">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="checkboxInput"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputName">Full Name</label>
          <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="nameInput">
        </div>
        <div class="form-group">
          <label for="exampleInputBirthday">Birthday</label>
          <input type="date" class="form-control" id="exampleInputBirthday" name="birthdayInput">
        </div>
        <div class="form-group">
          <label for="exampleMaidenName">Your Mother's Maiden Name</label>
          <input type="text" class="form-control" id="exampleMaidenName" name="maidenNameInput">
        </div>
      </div>
    </form>
  </div>
  <div class="row spacer">
  </div>
  <div class="row">
    <div class="col-md-12">
      <pre class="output">
        <!--    Ye olde output goes here via JS.     -->
      </pre>
    </div>
  </div>
</div>